<h1>New user</h1>
	<%=form_for @user do |f|%>
		<section>
			<ul class="input-list style-1 clearfix">
				<li>
					<%=f.text_field :name, class: "focus", placeholder: "Name" %>
				</li>
				<li>
					<%=f.text_field :email, class: "focus", placeholder: "Email" %>
				</li>
				<li>
					<%=f.text_field :email_confirmation, class: "focus", placeholder: "Repeat email" %>
				</li>
				<li>
					<%=f.password_field :password, class: "focus", placeholder: "Password" %>
				</li>
				<li>
					<%=f.password_field :password_confirmation, class: "focus", placeholder: "Repeat password" %>
				</li>
			</ul>
		</section>
		<%= f.submit "Create" %>
	<%end%>